<div id="<%= dom_id userinput %>">
  <p>
    <strong>Title:</strong>
    <%= userinput.title %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= userinput.subject %>
  </p>

  <p>
    <strong>Subtopics:</strong>
    <%= userinput.subtopics %>
  </p>

</div>
