<h1>Editing userinput</h1>

<%= render "form", userinput: @userinput %>

<br>

<div>
  <%= link_to "Show this userinput", @userinput %> |
  <%= link_to "Back to userinputs", userinputs_path %>
</div>
