<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing userinput</h1>

  <%= render "form", userinput: @userinput %>

  <%= link_to "Show this userinput", @userinput, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to userinpuits", userinputs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
