<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing professional</h1>

  <%= render "form", professional: @professional %>

  <%= link_to "Show this professional", @professional, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to professionals", professionals_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
